
@font-face {
    font-family: 辰宇落雁體 ;
    src: url(/assets/Fonts/ChenYuluoyan-Thin-Monospaced.ttf);
}
a{
    display: flex;
    width: fit-content;
    height: fit-content;
}
.navbar{
    font-family: 辰宇落雁體;
    font-size: 64px;
    /* color: white; */

    background-color: rgb(32,32,32,0.8);

    display: flex;
    margin: 0px;
    width: 100%;
    height: 200px;
    

}

.logo{
    display: flex;
    align-items: center;
    margin: left 80px ;

}
.title{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.menu {
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
}